{% extends "base.html" %}
{% block content %}

<h1 class="title">Données COVID</h1>
<h3>Effectuer une requête :</h3>
<form action="{{ url_for('covid.data') }}" method="post">
	<div class="form-group row">
		<div class="col">
			<input id="id" name="id" type="number" class="form-control" placeholder="Identifiant"/>
		</div>
		<div class="col">
			<input id="semaine_injection" name="semaine_injection" type="text" pattern="[0-9]{4}-[0-9]{2}" class="form-control" placeholder="Semaine d'injection"/>
		</div>
	</div>
	<div class="form-group row">
			<div class="col">
				<input id="classe_age" name="classe_age" type="text" class="form-control" placeholder="Classe age" list="age"/>
					<datalist id="age">
						<option value="00-19">
						<option value="20-39">
						<option value="40-54">
						<option value="55-64">
						<option value="65-74">
						<option value="75 et +">
						<option value="TOUT_AGE">
					</datalist>
			</div>
			<div class="col">
				<input id="libelle_classe_age" name="libelle_classe_age" type="text" class="form-control" placeholder="Libellé classe âge" list="libelle_age"/>
					<datalist id="libelle_age">
						<option value="moins de 20 ans">
						<option value="de 20 à 39 ans">
						<option value="de 40 à 54 ans">
						<option value="de 55 à 64 ans">
						<option value="de 65 à 74 ans">
						<option value="75 ans et plus">
						<option value="Tout âge">
					</datalist>
			</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<input id="commune" name="commune_residence" type="number" class="form-control" placeholder="Code commune"/>
		</div>
		<div class="col">
			<input id="libelle_commune" name="libelle_commune" type="text" class="form-control" placeholder="Libellé commune"/>
		</div>
		<div class="col">
			<input id="population_carto" name="population_carto" type="number" class="form-control" placeholder="Population"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<input id="effectif_1_inj" name="effectif_1_inj" type="number" class="form-control" placeholder="Effectif 1 injection"/>
		</div>
		<div class="col">
			<input id="effectif_termine" name="effectif_termine" type="number" class="form-control" placeholder="Effectif terminé"/>
		</div>
		<div class="col">
			<input id="effectif_cumu_1_inj" name="effectif_cumu_1_inj" type="number" class="form-control" placeholder="Effectif cumu 1 injection"/>
		</div>
		<div class="col">
			<input id="effectif_cumu_termine" name="effectif_cumu_termine" type="number" class="form-control" placeholder="Effectif cumu terminé"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<input id="taux_1_inj" name="taux_1_inj" type="number" step="0.001" class="form-control" placeholder="Taux 1 injection"/>
		</div>
		<div class="col">
			<input id="taux_termine" name="taux_termine" type="number" step="0.001" class="form-control" placeholder="Taux terminé"/>
		</div>
		<div class="col">
			<input id="taux_cumu_1_inj" name="taux_cumu_1_inj" type="number" step="0.001" class="form-control" placeholder="Taux cumu 1 injection"/>
		</div>
		<div class="col">
			<input id="taux_cumu_termine" name="taux_cumu_termine" type="number" step="0.001" class="form-control" placeholder="Taux cumu terminé"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<input id="date" name="date" type="text" class="form-control" placeholder="Date"/>
		</div>
		<div class="col">
			<input id="date_reference" name="date_reference" type="text" class="form-control" placeholder="Date de référence"/>
		</div>
	</div>
	<button type="submit" class="btn btn-primary btn-block btn-large">Rechercher</button>
</form>
<!-- Affichage des données -->
<div class="table-responsive">
	<table class="table table-light table-hover table-striped overflow-auto">
		<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Semaine d'injection</th>
			<th scope="col">Commune de résidence</th>
			<th scope="col">Libellé commune</th>
			<th scope="col">Population carto</th>
			<th scope="col">Classe d'âge</th>
			<th scope="col">Libellé classe d'âge</th>
			<th scope="col">Effectif 1 inj</th>
			<th scope="col">Effectif terminé</th>
			<th scope="col">Effectif cumu 1 inj</th>
			<th scope="col">Effectif cumu terminé</th>
			<th scope="col">Taux 1 injection</th>
			<th scope="col">Taux terminé</th>
			<th scope="col">Taux cumu 1 inj</th>
			<th scope="col">Taux cumu terminé</th>
			<th scope="col">Date</th>
			<th scope="col">Date de référence</th>
		</tr>
		</thead>
		<tbody>
			{% if output_data: %}
				{% if many: %}
					<!-- Affichage de plusieurs données -->
					{% for row in output_data %}
						<tr>
							<td>{{row.id}}</td>
							<td>{{row.semaine_injection}}</td>
							<td>{{row.commune_residence}}</td>
							<td>{{row.libelle_commune}}</td>
							<td>{{row.population_carto}}</td>
							<td>{{row.classe_age}}</td>
							<td>{{row.libelle_classe_age}}</td>
							<td>{{row.effectif_1_inj}}</td>
							<td>{{row.effectif_termine}}</td>
							<td>{{row.effectif_cumu_1_inj}}</td>
							<td>{{row.effectif_cumu_termine}}</td>
							<td>{{row.taux_1_inj}}</td>
							<td>{{row.taux_termine}}</td>
							<td>{{row.taux_cumu_1_inj}}</td>
							<td>{{row.taux_cumu_termine}}</td>
							<td>{{row.date}}</td>
							<td>{{row.date_reference}}</td>
						</tr>
					{% endfor %}
				{% else: %}
					<!-- Affichage d'1 seule donnée -->
					<tr>
						<td>{{output_data.id}}</td>
						<td>{{output_data.semaine_injection}}</td>
						<td>{{output_data.commune_residence}}</td>
						<td>{{output_data.libelle_commune}}</td>
						<td>{{output_data.population_carto}}</td>
						<td>{{output_data.classe_age}}</td>
						<td>{{output_data.libelle_classe_age}}</td>
						<td>{{output_data.effectif_1_inj}}</td>
						<td>{{output_data.effectif_termine}}</td>
						<td>{{output_data.effectif_cumu_1_inj}}</td>
						<td>{{output_data.effectif_cumu_termine}}</td>
						<td>{{output_data.taux_1_inj}}</td>
						<td>{{output_data.taux_termine}}</td>
						<td>{{output_data.taux_cumu_1_inj}}</td>
						<td>{{output_data.taux_cumu_termine}}</td>
						<td>{{output_data.date}}</td>
						<td>{{output_data.date_reference}}</td>
					</tr>
				{% endif %}
			{% else: %}
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<div class="form-group">
								<div class="alert alert-danger" role="alert" id="alert-danger-login">
									<strong>{{ message }}</strong>.
								</div>
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			{% endif %}
		</tbody>
	</table>
</div>

{% endblock %}
