{% extends "base.html" %}
{% block content %}

<div class="box">
    <h1>Connexion</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('users.login') }}" method="post">
        <input type="text" name="email" placeholder="Email" required="required"/>
        <input type="password" name="password" placeholder="Mot de passe" required="required"/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Se connecter</button>
    </form>
</div>

{% endblock %}
